<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<link th:href="@{../css/ThumbnailBoard.css}" rel="stylesheet" />
<div id="layoutSidenav_content">
	<main>
		<div class="container-fluid px-4">

			<div class="row mt-3 mb-5">
				<h1 th:text="${boardName}"></h1>
				<input type="hidden" id="boardNo" th:value="${boardNo}">
				
				<th:block th:if="${#authorization.expr('isAuthenticated()')}">
					<button type="button" id="insertLikeBoard" th:value="${#authentication.principal.getMemberVo.getNo}">즐겨찾기</button>
				</th:block>
				<th:block th:if="${#authorization.expr('isAnonymous()')}">
					<button type="button" id="insertLikeBoardAnonymous" >즐겨찾기</button>
				</th:block>
			</div>
			<div class="fixed_img_col">
				<ui style="list-style: none;">
					<li th:each="article : ${articles}">
						<!-- <div class="notEmpty" th:if="{articleVO.getThumbnail() == null}"></div> -->
						<div class="card"></div>
						<!-- /thumbnailImages/systemfilename -->
						<img th:src="|/thumbnailImages/${article.getThumbnail().getSystemFileName()}|" alt="" style="width: 190px;height: 150px;">
						<span class="thumb"><a th:href="|/${article.no}|">
								<strong th:text="${article.subject}"></strong></a></span>
						<p th:text="${article.writeDate}"></p>
					</li>
				</ui>
			</div>
		</div>
		<div class="write_article_btn">
			<button th:if="${#authorization.expr('isAuthenticated()')}" id="writeForm_btn" onclick="writeForm()" type="button">글쓰기</button>
		</div>
</div>
</main>
</div>
<script>
	function writeForm(){
		location.href="/articles/insert";
	}

	//비회원 게시판 즐겨찾기
	$('#insertLikeBoardAnonymous').on('click', function () {
		alert("로그인 후 이용 가능합니다.");
		return false;
	});

	//회원 게시판 즐겨찾기
	$('#insertLikeBoard').on('click', function () {
		const memberNo = $('#insertLikeBoard').val();
		const boardNo = $('#boardNo').val();
		console.log(memberNo, " ", boardNo);
		requestInsertLikeBoard('/likeBoard', memberNo, boardNo);
	});
	const insertLikeBoardAjax = function (url, memberNo, boardNo) {
		return new Promise( (resolve, reject ) => {
			$.ajax({
				url : url,
				method : 'POST',
				dataType : 'json',
				data : {
					memberNo : memberNo,
					boardNo : boardNo
				},

				success: function (data) {
					console.log("data : ", data)
					resolve(data.result);
				},
				error: function (e) {
					reject(e);
				}
			});
		});
	}
	async function requestInsertLikeBoard(url, memberNo, boardNo) {
		console.log(memberNo, " ", boardNo, " ", url);
		try {
			let result = await insertLikeBoardAjax(url, memberNo, boardNo);
			console.log("result : ", result);
			if (result == 0) {
				alert("즐겨찾기 게시판에 추가되었습니다.");
				//location.href = "articles";
			} else {
				alert("즐겨찾기 게시판에서 삭제되었습니다.");
				return false;
			}
		} catch (error) {
			console.log("error : ", error);
		}
	}
</script>

</html>