<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<link th:href="@{../css/ThumbnailBoard.css}" rel="stylesheet" />
<div id="layoutSidenav_content">
	<main>
		<div class="container-fluid px-4">

			<div class="row mt-3 mb-5">
				<h1 th:text="${boardName}"></h1>
				<!-- <h2><span>썸네일 게시판</span></h2> -->
			</div>
			<div class="fixed_img_col">
				<ui style="list-style: none;">
					<li th:each="articleVO : ${articleVOS}">
						<!-- <div class="notEmpty" th:if="{articleVO.getThumbnail() == null}"></div> -->
						<div class="card"></div>
						/thumbnailImages/systemfilename
						<img th:src="|/thumbnailImages/${articleVO.getThumbnail().getSystemFileName()}|" alt="" style="width: 190;height: 150;">
						<span class="thumb"><a th:href="|/${articleVO.no}|">
								<strong th:text="${articleVO.subject}"></strong></a></span>
						<p th:text="${articleVO.writeDate}"></p>
					</li>
				</ui>
			</div>
		</div>
		<div class="write_article_btn">
			<button id="writeForm_btn" onclick="writeForm()" type="button">글쓰기</button>
		</div>
</div>
</main>
</div>
<script>
	function writeForm(){
		location.href="/articles/insert";
	}
</script>

</html>