<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org">
<meta charset="UTF-8"/>
<!-- 작성 폼 css -->
<link th:href="@{/css/updateArticleStyle.css}" rel="stylesheet" />
<div id="layoutSidenav_content">
	<main>
		<div class="container-fluid px-4">

			<div class="row mt-3 mb-5">
				<div id="write_board_page" class="write-board-style">
					<form enctype="multipart/form-data" th:object="${form}"
						id="updateForm" th:action="@{/articles/update/{articleNo}(articleNo=${article.no})}"
						method="post" class="board-form-style">

						<input type="hidden" id="tags" name="tags" value="">
						<input id="articleNo" type="hidden" name="articleNo" th:value="${article.no}" />
						<div id="selectBoard" class="select-board-info mt-3">
							 <select id="boardList" th:field="*{boardNo}" required>
								<option th:each="board: ${boardList}"
									th:value="${board.boardNo}" th:text="${board.boardName}">
								</option>
							</select>
							<!--tag-->
							<div class="content-tag-style">
								<div>
									<h4>Tag</h4>
									<input type="text" id="tag" size="20" placeholder="태그입력" />
								</div>
								<!--Tag 출력 부분-->
								<div id="tag_area" class="detailArticle-tag-style">
									<ul id="origin-tag-list" class="tag-list-style">
										<div th:each="tag : ${article.getSelectTags()}" style="display: inline-block">
											<li class="ori-tag-item"  th:text="${tag.name}"></li>
											<span th:id="${tag.tagNo}" class="origin_tag_delete_btn">X</span>
										</div>
									</ul>
								</div>
								<ul id="tag-list" class="tag-list-style">
								</ul>
							</div>
						</div>

						<div id="write_area" class="write-area-style">
							<div class="write_options">
								<!-- 공지사항 출력 여부 -->
								<div class="displayNotice mb-3">
									<!-- 관리자가 아니면 미설정을 default로
									<input th:unless="${gradeNo}==1" type="hidden" name="displayNotice" value=0>
									 관리자면 활성화
									<p id="noticeCheck" th:if="${gradeNo}==1" style="width: 50%;">공지등록</p> -->
									<select id="displayNotice" th:if="${gradeNo}==1"
										th:field="*{displayNotice}">
										<option value="0" selected>미설정</option>
										<option value="1">게시판</option>
										<option value="2">전체</option>
									</select>
								</div>
								<!-- <input type="button" value="취소" onclick="history.back(-1)">
						<button type="submit">등록</button> -->
							</div>

							<div id="in_subject" class="write-subject-style">
								<textarea id="utitle" th:field="*{subject}"
									placeholder="제목" maxlength="100" th:value="${article.subject}"
									required></textarea>
							</div>



							<div id="in_content" class="write-content-style">
								<textarea id="ucontent" th:field="*{content}"
									th:value="${article.content}" placeholder="내용" required
									></textarea>
							</div>
							<div id="import_bth" class="write-area-style">
								<!-- 첨부파일 -->
								<input type="file" th:if="${article.attacheFile == null}"
									name="importAttacheFile" /> <input type="file"
									th:unless="${article.getAttacheFile == null}"
									th:text="${article.getAttacheFile().getOriginalFileName()}" name="importAttacheFile" />
								<!-- 이미지 파일 첨부 -->
								<label class="write-image-style" for="write-imagefile-upload">
									<i class="far fa-file-image fa-2x"></i></label>
								<input type="file" id="write-imagefile-upload" name="imageFiles"
									   onchange="setThumbnail(event)" multiple="multiple" /><br/>
								<div id="viewImage">
									<div th:each="imageFile : ${article.fileList }">
											<div th:id = "${imageFile.getNo()}">
												<img th:src="|/images/${imageFile.getSystemFileName()}|" width="200"
												height="200" />
												<input type="button" class="remove_file_btn"  value="삭제" />
											</div>
									</div>
								</div>
								<div id="image_container">
								</div>
							</div>
							<input type="button" value="취소" onclick="history.back(-1)">
							<input type="button" id="update_btn" value="등록">
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
</div>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
</html>

