<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org">
<meta charset="UTF-8"/>
<!-- 작성 폼 css -->
<link th:href="@{/css/updateArticleStyle.css}" rel="stylesheet" />
<div id="layoutSidenav_content">
	<main>
		<div class="container-fluid px-4">

			<div class="row mt-3 mb-5">
				<div id="write_board_page" class="write-board-style">
					<form enctype="multipart/form-data" th:object="${form}"
						id="updateForm" th:action="@{/articles/update/{articleNo}(articleNo=${article.no})}"
						method="post" class="board-form-style">

						<input type="hidden" id="tags" name="tags" value="">
						<input id="articleNo" type="hidden" name="articleNo" th:value="${article.no}" />
						<div id="selectBoard" class="select-board-info mt-3">
							 <select id="boardList" th:field="*{boardNo}" required>
								<option th:each="board: ${boardList}"
									th:value="${board.boardNo}" th:text="${board.boardName}">
								</option>
							</select>
							<!--tag-->
							<div class="content-tag-style">
								<div>
									<h4>Tag</h4>
									<input type="text" id="tag" size="20" placeholder="태그입력" />
								</div>
								<!--Tag 출력 부분-->
								<div id="tag_area" class="detailArticle-tag-style">
									<ul id="origin-tag-list" class="tag-list-style">
										<div th:each="tag : ${article.getSelectTags()}" style="display: inline-block">
											<li class="ori-tag-item"  th:text="${tag.name}"></li>
											<span th:id="${tag.tagNo}" class="origin_tag_delete_btn">X</span>
										</div>
									</ul>
								</div>
								<ul id="tag-list" class="tag-list-style">
								</ul>
							</div>
						</div>

						<div id="write_area" class="write-area-style">
							<div class="write_options">
								<!-- 공지사항 출력 여부 -->
								<div class="displayNotice mb-3">
									<!-- 관리자가 아니면 미설정을 default로
									<input th:unless="${gradeNo}==1" type="hidden" name="displayNotice" value=0>
									 관리자면 활성화
									<p id="noticeCheck" th:if="${gradeNo}==1" style="width: 50%;">공지등록</p> -->
									<select id="displayNotice" th:if="${gradeNo}==1"
										th:field="*{displayNotice}">
										<option value="0" selected>미설정</option>
										<option value="1">게시판</option>
										<option value="2">전체</option>
									</select>
								</div>
								<!-- <input type="button" value="취소" onclick="history.back(-1)">
						<button type="submit">등록</button> -->
							</div>

							<div id="in_subject" class="write-subject-style">
								<textarea id="utitle" th:field="*{subject}"
									placeholder="제목" maxlength="100" th:value="${article.subject}"
									required></textarea>
							</div>



							<div id="in_content" class="write-content-style">
								<textarea id="ucontent" th:field="*{content}"
									th:value="${article.content}" placeholder="내용" required
									></textarea>
							</div>
							<div id="import_bth" class="write-area-style">
								<!-- 첨부파일 -->
								<input type="file" th:if="${article.attacheFile == null}"
									name="importAttacheFile" /> <input type="file"
									th:unless="${article.getAttacheFile == null}"
									th:text="${article.getAttacheFile().getOriginalFileName()}" name="importAttacheFile" />
								<!-- 이미지 파일 첨부 -->
								<label class="write-image-style" for="write-imagefile-upload">
									<i class="far fa-file-image fa-2x"></i></label>
								<input type="file" id="write-imagefile-upload" name="imageFiles"
									   onchange="setThumbnail(event)" multiple="multiple" /><br/>
								<div id="viewImage">
									<div th:each="imageFile : ${article.fileList }">
											<div th:id = "${imageFile.getNo()}">
												<img th:src="|/images/${imageFile.getSystemFileName()}|" width="200"
												height="200" />
												<input type="button" class="remove_file_btn"  value="삭제" />
											</div>
									</div>
								</div>
								<div id="image_container">
								</div>
							</div>
							<input type="button" value="취소" onclick="history.back(-1)">
							<input type="button" id="update_btn" value="등록">
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
</div>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script>

	$(document).ready(function () {
		// var grpl = $("li[class=ori-tag-item]").length;
		// var grpl = $('.ori-tag-item').length;
		// console.log(grpl);
		// let index = 0;
		// // let removeIndexArray = [];
		//
		//     function setThumbnail(event) {
		//         for (var image of event.target.files) {
		//
		//             var reader = new FileReader();
		//
		//             reader.onload = function (event) {
		//                 //image preview
		//                 var $div = $('<div id=image' + index + ' class="preview-div">');
		//                 var $img = $('<img id=image' + index + ' src=' + event.target.result + ' width="400" height="400">');
		//                 // var $input = $('<button id=' + index + ' class="preview-de"></button>');
		//                 // var $i = $('<i class="fas fa-minus-circle fa-5x"></i>');
		//
		//                 // $input.append($i);
		//                 $div.append($img);
		//                 // $div.append($input);
		//                 $('#image_container').append($div);
		//
		//                 index++;
		//             };
		//
		//             // console.log(image);
		//             // reader.readAsDataURL(event.target.files[0]);
		//             reader.readAsDataURL(image);
		//         }
		//
		//     }
		//
		// 	$(document).on('click', '#write-imagefile-upload', function (){
		// 		$('#image_container').html("");
		// 	});
	//
	//
	// 	$(document).on('click','.origin_tag_delete_btn', function (){
	// 		const tagNo = $(this).attr('id');
	// 		$.ajax({
	// 			url: '/articles/removeTag',
	// 			method: 'POST',
	// 			dataType: 'json',
	// 			data: {
	// 				tagNo: tagNo,
	// 				articleNo: $('#articleNo').val(),
	// 			},
	// 			success: function (data) {
	// 				tagList = data;
	// 				htmlStr = "";
	// 				$('#origin-tag-list').html(""); //view창 비우기
	// 				for (let i = 0; i < tagList.length; i++) {
	// 					htmlStr += '<div style="display: inline-block">';
	// 					htmlStr += "<li class='ori-tag-item'>" + tagList[i].name + "</li>";
	// 					htmlStr += "<span id=" + tagList[i].tagNo + " class='origin_tag_delete_btn'>X</span>";
	// 					htmlStr += "</div>";
	// 				}
	// 				console.log(htmlStr);
	// 				$('#origin-tag-list').html(htmlStr);
	// 			},
	// 			error: function (e) {
	// 				console.trace();
	// 				reject(e);
	// 			}
	// 		});
	// 	});
	//
	//
	//
	// 	// 게시글 수정 Form 엔터키로 등록 차단
	// 	$('#updateForm').on("keydown", function (event) {
	// 		if((event.keyCode || event.which()) == 13){
	// 			event.preventDefault();
	// 		}
	// 	})
	//
	// 	// 게시글 수정
	// 	$('#update_btn').on('click', function (){
	// 		var children = $('#tag-list').children();
	// 		let tagList = [];
	// 		children.each(function (index,element){
	// 			console.log($(element).text());
	// 			tagList.push($(element).text());
	// 		})
	// 		$('#tags').val(tagList.join());
	// 		$('#updateForm').submit();
	// 	});
	//
	//
	// 	//파일 삭제
	// 	$(document).on('click', '.remove_file_btn', function () {
	// 		const fileNo = $(this).parents('div').attr('id');
	// 		console.log('삭제할 file 번호', fileNo);
	// 		if(confirm("삭제된 파일은 복구되지 않습니다.") == true){
	// 			$.ajax({
	// 				url: '/removeFile',
	// 				method: 'POST',
	// 				dataType: 'json',
	// 				data: {
	// 					fileNo: fileNo,
	// 					articleNo: $('#articleNo').val(),
	// 				},
	// 				success: function (data) {
	// 					fileList = data;
	// 					htmlStr = "";
	// 					$('#viewImage').html(""); //view창 비우기
	// 					for (let i = 0; i < fileList.length; i++) {
	// 						htmlStr += "<div id=" + fileList[i].no + ">";
	// 						htmlStr += "<img src='/images/" + fileList[i].systemFileName + "' width='200' height='200'/>";
	// 						htmlStr += "<input type='button' class='remove_file_btn' value='삭제'>";
	// 						htmlStr += "</div>";
	// 					}
	// 					console.log(htmlStr);
	// 					$('#viewImage').html(htmlStr);
	// 				},
	// 				error: function (e) {
	// 					console.trace();
	// 					reject(e);
	// 				}
	// 			});
	// 		} else{
	//
	// 		}
	// 	});
	//
	//
	// 	// start tag
	// 	var tag = {};
	// 	var counter = 0;
	//
	// 	// 태그를 추가한다.
	// 	function addTag(value) {
	// 		tag[counter] = value; // 태그를 Object 안에 추가
	// 		counter++; // counter 증가 삭제를 위한 del-btn 의 고유 id 가 된다.
	// 	}
	//
	// 	// 최종적으로 서버에 넘길때 tag 안에 있는 값을 array type 으로 만들어서 넘긴다.
	// 	function marginTag() {
	// 		return Object.values(tag)
	// 				.filter(function (word) {
	// 					return word !== "";
	// 				});
	// 	}
	//
	// 	$("#tag")
	// 			.on("keyup", function (e) {
	// 				var self = $(this);
	// 				console.log("keypress");
	//
	// 				// input 에 focus 되있을 때 엔터 및 스페이스바 입력시 구동
	// 				if (e.key === "Enter" || e.keyCode == 32) {
	//
	// 					var tagValue = self.val(); // 값 가져오기
	//
	// 					// 값이 없으면 동작 안합니다.
	// 					if (tagValue !== "") {
	//
	// 						// 같은 태그가 있는지 검사한다. 있다면 해당값이 array 로 return 된다.
	// 						var result = Object.values(tag)
	// 								.filter(function (word) {
	// 									return word === tagValue;
	// 								})
	// 						// 태그 중복 검사
	// 						if (result.length == 0) {
	// 							$("#tag-list")
	// 									.append("<li class='tag-item'>" + tagValue + "<span class='del-btn' idx='" + counter + "'>x</span></li>");
	// 							addTag(tagValue);
	// 							self.val("");
	// 						} else {
	// 							alert("태그값이 중복됩니다.");
	// 						}
	// 					}
	// 					e.preventDefault(); // SpaceBar 시 빈공간이 생기지 않도록 방지
	// 				}
	// 			});
	//
	// 	// 삭제 버튼
	// 	// 삭제 버튼은 비동기적 생성이므로 document 최초 생성시가 아닌 검색을 통해 이벤트를 구현시킨다.
	// 	$(document)
	// 			.on("click", ".del-btn", function (e) {
	// 				var index = $(this)
	// 						.attr("idx");
	// 				tag[index] = "";
	// 				$(this)
	// 						.parent()
	// 						.remove();
	// 			});
	//
	// 	// end tag
	});

</script>
<!--<style>-->
<!--	* {-->
<!--		margin: 0;-->
<!--		padding: 0;-->
<!--		list-style: none;-->
<!--	}-->

<!--	ul {-->
<!--		padding: 16px 0;-->
<!--	}-->

<!--	ul li {-->
<!--		display: inline-block;-->
<!--		margin: 0 5px;-->
<!--		font-size: 14px;-->
<!--		letter-spacing: -.5px;-->
<!--	}-->

<!--	form {-->
<!--		padding-top: 16px;-->
<!--	}-->

<!--	ul li.tag-item {-->
<!--		padding: 4px 8px;-->
<!--		background-color: #777;-->
<!--		color: #000;-->
<!--	}-->

<!--	.tag-item:hover {-->
<!--		background-color: #262626;-->
<!--		color: #fff;-->
<!--	}-->

<!--	.del-btn {-->
<!--		font-size: 12px;-->
<!--		font-weight: bold;-->
<!--		cursor: pointer;-->
<!--		margin-left: 8px;-->
<!--	}-->
<!--</style>-->
</html>

