<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org">
<meta charset="UTF-8"/>
	<!-- 작성 폼 css -->
	<link th:href="@{/css/writeArticleStyle.css}" rel="stylesheet" />

<div id="layoutSidenav_content">
	<main>

		<div class="container-fluid px-4">

			<div class="row mt-3 mb-5">

				<div id="write_board_page" class="write-board-style">
					<form id="insertForm" enctype="multipart/form-data" th:object="${form}"
						  th:action="@{/articles/insert}" method="post" class="board-form-style">

						<input type="hidden" id="tags" name="tags" value="">

						<!-- 게시판 설정-->
						<div id="selectBoard" class="select-board-style">
							<select id="boardList" th:field="*{boardNo}">
								<option value="0" selected>게시판을 선택하세요.</option>
								<option th:each="board: ${boardList}"
									th:value="${board.boardNo}" th:text="${board.boardName}">
								</option>
							</select>
							<p th:if="${#fields.hasErrors('boardNo')}"
							   th:errors="*{boardNo}"></p>
							<!--tag-->
							<div class="content-tag-style">
								<div>
									<h4>Tag</h4>
									<input type="text" id="tag" size="20" placeholder="태그입력" />
								</div>
								<ul id="tag-list" class="tag-list">
								</ul>
							</div>
						</div>


						<div id="write_area" class="write-area-style">
							<!-- 개발 후 display:none 풀기 -->
							<div class="write_options" style="display: none;">
								<!-- 공지사항 출력 여부 -->
								<div class="displayNotice">

									<!-- 관리자가 아니면 미설정을 default로 -->
									<input th:unless="${gradeNo}==1" type="hidden"
										name="displayNotice" value=0>

									<!-- 관리자면 활성화 -->

									<p id="noticeCheck" th:if="${gradeNo}==1" style="width: 50%;">공지등록</p>
									<select id="displayNotice" th:if="${gradeNo}==1"
										th:field="*{displayNotice}">
										<option value="0" selected>미설정</option>
										<option value="1">공지 설정</option>
									</select>
								</div>
							</div>
							<div id="in_subject" class="write-subject-style">
								<textarea id="utitle" th:field="*{subject}" rows="1" cols="55"
									placeholder="제목" maxlength="100"></textarea>
								<p th:if="${#fields.hasErrors('subject')}"
								   th:errors="*{subject}"></p>
							</div>

							<div id="import_bth" class="write-area-style">
								<!-- &lt;!&ndash; 첨부파일 &ndash;&gt; -->
								<label class="write-file-style" for="write-attachefile-upload">
									<i class="fas fa-file-upload fa-2x"></i>
									<span id="file-upload-filename"></span>
								</label>

								<input type="file" id="write-attachefile-upload" th:field="*{importAttacheFile}" />

								<!-- &lt;!&ndash; 이미지 파일 첨부 &ndash;&gt; -->
								<label class="write-image-style" for="write-imagefile-upload">
									<i class="far fa-file-image fa-2x"></i></label>
								<input type="file" id="write-imagefile-upload" th:field="*{imageFiles}"
									onchange="setThumbnail(event)" multiple="multiple" />
									<a name="selectbtnimage" id="selectimage"></a>&nbsp;<br/>
								
<!--								<img src="/importfile.png" board='0'onclick="document.all.selectFile.click();document.all.selectbtnimage.value=document.all.selectFile.value" />-->
							</div>
							<div id="image_container">
<!--								<div id="image_container"></div>-->
							</div>

							<div id="in_content" class="write-content-style">
								<textarea id="content" th:field="*{content}" placeholder="내용"
									 rows="1" cols="71"></textarea>
								<p th:if="${#fields.hasErrors('content')}"
								   th:errors="*{content}"></p>
							</div>

							<div class="write-btn-style">
								<input type="button" value="취소" onclick="history.back(-1)">
<!--								<button type="submit">등록</button>-->
								<input type="button" id="write_btn" value="등록">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
</div>
<!--<script th:src="@{../js/jquery-3.6.0.min.js}"></script>-->
<script>

	// $(document).ready(function (){
	//
	// 	// start tag
	// 	var tag = {};
	// 	var counter = 0;
	//
	// 	// 태그를 추가한다.
	// 	function addTag(value) {
	// 		tag[counter] = value; // 태그를 Object 안에 추가
	// 		counter++; // counter 증가 삭제를 위한 del-btn 의 고유 id 가 된다.
	// 	}
	//
	// 	// 최종적으로 서버에 넘길때 tag 안에 있는 값을 array type 으로 만들어서 넘긴다.
	// 	function marginTag() {
	// 		return Object.values(tag)
	// 				.filter(function (word) {
	// 					return word !== "";
	// 				});
	// 	}
	//
	// 	$("#tag")
	// 			.on("keyup", function (e) {
	// 				var self = $(this);
	// 				console.log("keypress");
	//
	// 				// input 에 focus 되있을 때 엔터 및 스페이스바 입력시 구동
	// 				if (e.key === "Enter" || e.keyCode == 32) {
	//
	// 					var tagValue = self.val(); // 값 가져오기
	//
	// 					// 값이 없으면 동작 안합니다.
	// 					if (tagValue !== "") {
	//
	// 						// 같은 태그가 있는지 검사한다. 있다면 해당값이 array 로 return 된다.
	// 						var result = Object.values(tag)
	// 								.filter(function (word) {
	// 									return word === tagValue;
	// 								})
	//
	// 						// 태그 중복 검사
	// 						if (result.length == 0) {
	// 							$("#tag-list")
	// 									.append("<li class='tag-item'>" + tagValue + "<span class='del-btn' idx='" + counter + "'>x</span></li>");
	// 							addTag(tagValue);
	// 							self.val("");
	// 						} else {
	// 							alert("태그값이 중복됩니다.");
	// 						}
	// 					}
	// 					e.preventDefault(); // SpaceBar 시 빈공간이 생기지 않도록 방지
	// 				}
	// 			});
	//
	// 	// 삭제 버튼
	// 	// 삭제 버튼은 비동기적 생성이므로 document 최초 생성시가 아닌 검색을 통해 이벤트를 구현시킨다.
	// 	$(document)
	// 			.on("click", ".del-btn", function (e) {
	// 				var index = $(this)
	// 						.attr("idx");
	// 				tag[index] = "";
	// 				$(this)
	// 						.parent()
	// 						.remove();
	// 			});
	//
	// 	// end tag
	//
	//
	// 	$(document).on('click', '#add_custom_tag',function (){
	// 		const tagName = $('#custom_tag_area').val();
	// 		console.log('customTagName', tagName);
	// 		$.ajax({
	// 			url: '/articles/addTag',
	// 			method: 'POST',
	// 			dataType: 'json',
	// 			data: {
	// 				tagName: tagName,
	// 				articleNo: $('#articleNo').val(),
	// 			},
	// 			success: function (data) {
	// 				fileList = data;
	// 				htmlStr = "";
	// 				$('#viewImage').html(""); //view창 비우기
	// 				for (let i = 0; i < fileList.length; i++) {
	// 					htmlStr += "<div id=" + fileList[i].no + ">";
	// 					htmlStr += "<img src='/images/" + fileList[i].systemFileName + "' width='200' height='200'/>";
	// 					htmlStr += "<input type='button' class='remove_file_btn' value='삭제'>";
	// 					htmlStr += "</div>";
	// 				}
	// 				console.log(htmlStr);
	// 				$('#viewImage').html(htmlStr);
	// 			},
	// 			error: function (e) {
	// 				console.trace();
	// 				reject(e);
	// 			}
	// 		});
	// 	});
	//
	// 	// 게시글 Form 엔터키로 등록 차단
	// 	$('#insertForm').on("keydown", function (event) {
	// 		if((event.keyCode || event.which()) == 13){
	// 			event.preventDefault();
	// 		}
	// 	})
	// 	// 게시글 작성
	// 	$('#write_btn').on('click', function (){
	// 		var children = $('#tag-list').children();
	// 		let tagList = [];
	// 		children.each(function (index,element){
	// 			console.log($(element).text());
	// 			tagList.push($(element).text());
	// 		})
	// 		$('#tags').val(tagList.join());
	// 		$('#insertForm').submit();
	// 	});
	// });
	//
	//
	// let index = 0;
	// // let removeIndexArray = [];
	//
    //     function setThumbnail(event) {
    //         for (var image of event.target.files) {
	//
	//
    //             var reader = new FileReader();
	//
    //             reader.onload = function (event) {
    //                 //image preview
    //                 var $div = $('<div id=image' + index + ' class="preview-div">');
    //                 var $img = $('<img id=image' + index + ' src=' + event.target.result + ' width="400" height="400">');
    //                 // var $input = $('<button id=' + index + ' class="preview-de"></button>');
    //                 // var $i = $('<i class="fas fa-minus-circle fa-5x"></i>');
	//
    //                 // $input.append($i);
    //                 $div.append($img);
    //                 // $div.append($input);
    //                 $('#image_container').append($div);
	//
    //                 index++;
    //             };
	//
    //             console.log(image);
    //             // reader.readAsDataURL(event.target.files[0]);
    //             reader.readAsDataURL(image);
    //         }
	//
    //     }
	//
	// 	$(document).on('click', '#write-imagefile-upload', function (){
	// 		$('#image_container').html("");
	// 	})


</script>

</html>
