<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<!-- 작성 폼 css -->
	<link th:href="@{../css/writeArticleStyle.css}" rel="stylesheet" />
<!-- <style>
#noticeCheck {
	display: inline;
}

.noticeCheck {
	display: none;
}
</style> -->
<div id="layoutSidenav_content">
	<main>
		<div class="container-fluid px-4">

			<div class="row mt-3 mb-5">

				<div id="write_board_page" class="write-board-style">
					<form enctype="multipart/form-data" th:object="${articleVO}"
						th:field="${article}" th:action="@{/insertArticle}" method="post">

						<!-- 게시판 설정 -->
						<div id="selectBoard" class="select-board-style">
							<select id="boardList" th:field="*{boardNo}" required>
								<option th:each="board: ${boardList}"
									th:value="${board.boardNo}" th:text="${board.boardName}">
								</option>
							</select>
						</div>


						<div id="write_area" class="write-area-style">
							<!-- 개발 후 display:none 풀기 -->
							<div class="write_options" style="display: none;">
								<!-- 공지사항 출력 여부 -->
								<div class="displayNotice">

									<!-- 관리자가 아니면 미설정을 default로 -->
									<input th:unless="${gradeNo}==1" type="hidden"
										name="displayNotice" value=0>

									<!-- 관리자면 활성화 -->

									<p id="noticeCheck" th:if="${gradeNo}==1" style="width: 50%;">공지등록</p>
									<select id="displayNotice" th:if="${gradeNo}==1"
										th:field="*{displayNotice}">
										<option value="0" selected>미설정</option>
										<option value="1">게시판</option>
										<option value="2">전체</option>
									</select>
								</div>
							</div>
							<div id="in_subject" class="write-subject-style">
								<textarea id="utitle" th:field="*{subject}" rows="1" cols="55"
									placeholder="제목" maxlength="100" required></textarea>
							</div>

							<div id="import_bth" class="write-area-style">
								<!-- 첨부파일 -->
								<!-- <label class="write-file-style" for="write-file-upload"><i
									class="fas fa-file-upload fa-2x"></i></label> -->
								<input type="file" id="write-file-upload"
									name="importAttacheFile" />

								<!-- 이미지 파일 첨부 -->
								<!-- <label class="write-image-style" for="write-file-upload"><i
									class="far fa-file-image fa-2x"></i></label>  -->
								<input type="file" id="write-file-upload" name="imageFiles"
									multiple="multiple" /> <a name="selectbtnimage"
									id="selectimage"></a>
								<!-- <img src="/importfile.png" board='0'onclick="document.all.selectFile.click();document.all.selectbtnimage.value=document.all.selectFile.value" /> -->
							</div>

							<div id="in_content" class="write-content-style">
								<textarea id="content" th:field="*{content}" placeholder="내용"
									required rows="1" cols="71"></textarea>
							</div>

							<div class="write-btn-style">
								<input type="button" value="취소" onclick="history.back(-1)">
								<button type="submit">등록</button>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</main>
</div>

</html>
