<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!-- musicNo를 받는다. 플레이리스트를 선택하여 music을 추가한다. -->
<!-- 플레이리스트의 목록을 불러와야한다. -->
<body>
    <table>
        <tr th:each="playlist : ${list}" th:object="${playlist}">
            <td th:text="*{playlistName}"></td>
            <td><button type="button" th:onclick="'addToPlaylist('+ *{id} +')'">Add</button></td>
        </tr>
    </table>
    <input type="hidden" th:value="${musicNo}">
</body>
</html>

<script th:src="@{../js/jquery-3.6.0.min.js}"></script>
<script th:inline>
    function addToPlaylist(a) {
        log.info(a);
        location.href="/pushmusic/" + a;
    }
</script>