<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
<form method="POST" enctype="multipart/form-data" th:action="|/changeplaylist/${playlist.id}|">
    <table>
        <tr class="first">
            <td id="preview_image" colspan="2">미리보기</br>타입 : .gif, .jpg, .png</br>크기 : 3MB이하</td>
            <td><img id="im" th:src="|/playlistTempImage/${playlist.getPlaylistImage().getId()}|" alt ="" style="width: 200; height: 200;"></td>
        </tr>
        <tr class="second">
            <td><input type="file" id="chooseFile" name="img" accept="image/gif, image/jpg, image/png"></td>
        </tr>
        <tr>
            <td>이름</td>
            <td><input type="text" th:placeholder="${playlist.playlistName}" name="title" th:value="${playlist.playlistName}"></td>
        </tr>
    </table>
    <div></div>
    <button type="button" onclick='history.back()'>취소</button>
    <button type="submit" id="updateBtn" onclick="alert('수정완료')">수정</button>
</form>
</body>

<script th:src="@{../js/jquery-3.6.0.min.js}"></script>
<script th:inline="javascript">
    $(function() {
        $('#chooseFile').on('change', function() {
            changeFile(this);
        });
    });
    function changeFile(f) {
        if (f.files && f.files[0]) {
            var reader = new FileReader();
            var ext = String(f.files[0].type).toLowerCase();
            console.log(ext);
            var size = f.files[0].size;
            if($.inArray(ext, ['image/png', 'image/jpg', 'image/gif']) == -1){
                alert(ext + ' 파일은 업로드 할 수 없습니다.');
                $("#chooseFile").val("");
                return false;
            }
            if(size > 3 * 1024 * 1024) {
                alert('3MB 이하의 파일 크기여야 합니다.');
                $("#chooseFile").val("");
                return false;
            }
            reader.onload = function (e) {
                $("#im").attr('src', e.target.result);
            }
            reader.readAsDataURL(f.files[0]);
        }
    }
</script>