<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"/>
<link th:href="@{../css/boardManagerStyle.css}" rel="stylesheet" />
<style>
    .hidden {
        display: none;
    }
</style>
<div id="layoutSidenav_content">
    <main>
        <i class="far fa-engine-warning fa-9x"></i><br>
        접근 권한이 없습니다. <br>
        <button onclick="previousPage()">이전페이지로 돌아가기</button>

        <script>
            function previousPage() {
                window.history.go(-1);
            }
        </script>
    </main>
</div>
</html>