<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="head">
    <title>반려동물 카페</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link
            th:href="@{https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css}"
            rel="stylesheet"/>
    <link th:href="@{/css/theme_styles.css}" rel="stylesheet"/>


    <link th:href="@{/css/homeNavStyle.css}" rel="stylesheet"/>


    <script th:src="@{/js/all.min.js}" th:crossorigin="anonymous"></script>
</th:block>

<body class="sb-nav-fixed">

<!-- Header -->
<th:block layout:fragment="viewFrameHeader"
          th:include="@{/fragments/viewFrameHeader}"></th:block>

<div id="layoutSidenav">
    <!-- Nav -->
    <th:block layout:fragment="nav" th:include="@{/fragments/managerNav}"></th:block>
    <!-- Content -->
    <th:block layout:fragment="viewMainContent"
              th:include="@{${managerContent}}"></th:block>
</div>

<!-- footer -->
<!--<th:block layout:fragment="viewFrameFooter"-->
<!--          th:include="@{/fragments/viewFrameFooter}"></th:block>-->

<!-- Script -->
<script th:src="@{/js/bootstrap.bundle.min.js}"
        th:crossorigin="anonymous"></script>
<script th:src="@{/js/scripts.js}"></script>

<script th:src="@{/js/simple-datatables@latest.js}"
        th:crossorigin="anonymous"></script>
<script th:src="@{/js/datatables-simple-demo.js}"></script>


</body>
</html>
