<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<link th:href="@{/css/homeContentsStyle.css}" rel="stylesheet"/>

<div id="layoutSidenav_content" class="mb-4">
    <main>
        <div class="container-fluid px-4">

            <div class="row mt-3 mb-5">

                <div class="content-top">
                    <div class="content-top-left">
                        <!-- Swiper -->
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="https://swiperjs.com/demos/images/nature-1.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="https://swiperjs.com/demos/images/nature-2.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="https://swiperjs.com/demos/images/nature-3.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="https://swiperjs.com/demos/images/nature-4.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="https://swiperjs.com/demos/images/nature-5.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="https://swiperjs.com/demos/images/nature-6.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="https://swiperjs.com/demos/images/nature-7.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="https://swiperjs.com/demos/images/nature-8.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="https://swiperjs.com/demos/images/nature-9.jpg"/>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <div class="content-top-right">
                        <div class="content-top-right-title">
                            <span>Top 10 베스트 글</span>
                        </div>
                        <div class="content-top-right-table">
                            <table>
                                <tbody>
                                    <tr th:each="bestArticle : ${bestArticles}">
                                        <td><img src="https://swiperjs.com/demos/images/nature-1.jpg"></td>
                                        <td th:text="${bestArticle.rank}"></td>
                                        <td style="display: inline-block">
                                            <a th:text="${bestArticle.subject}"
                                               th:href="|/articles/${bestArticle.articleNo}|"></a>
                                        </td>
<!--                                        <td th:text="${bestArticle.likecount}"></td>-->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i><span> 전체 글 보기</span>
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>날짜</th>
                            <th>조회수</th>
                            <th>좋아요</th>
                        </tr>
                        </thead>

                        <tfoot>
                        <tr>
                            <th>No</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>날짜</th>
                            <th>조회수</th>
                            <th>추천</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="article : ${articleList}">
                            <td th:text="${article.no}"></td>
                            <td>
                                <a th:text="${article.subject}"
                                   th:href="|/articles/${article.no}|"></a>
                            </td>
                            <td th:text="${article.nickname}"></td>
                            <td th:text="${article.writeDate}"></td>
                            <td th:text="${article.viewcount}"></td>
                            <td th:text="${article.likecount}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        pagination: {
            el: ".swiper-pagination",
        },
    });
</script>
</html>
