<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<link th:href="@{/css/myPageStyle.css}" rel="stylesheet"/>
<link th:href="@{/css/myPagePlaylistDetail.css}" rel="stylesheet"/>

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <div class="row mt-3 mb-5">
                <div class="myPage-top">
                    <div class="myPage-top-image">
                        <!--                        플레이리스트 이미지 넣기-->
                        <a href="/profile"><img th:src="|/profileImage/${member.getNo()}|"></a>
                    </div>
                    <div class="myPage-top-profile">
                        <span>PlayList Name</span>
                    </div>
                </div>
                <div class="mt-4 mb-4 myPage-nav">
                    <a th:href="@{'/myPage/Playlist/' + ${member.getNo()}}">Playlist</a>
                    <a th:href="@{'/myPage/Board/' + ${member.getNo()}}">글</a>
                    <a th:href="@{'/myPage/Reply/' + ${member.getNo()}}">댓글</a>

                    <th:block th:if="${#authorization.expr('isAuthenticated()')} != false">
                    <span th:if="${#authentication.principal.getMemberVo.getNo} == ${member.getNo()}">
                        <a th:href="@{'/myPage/Like/' + ${member.getNo()}}">좋아요</a>
                    </span>
                    </th:block>
                </div>
                <div class="myPage-content">
                    <div class="myPage-content-left">
                        <div class="myPage-content-left-btn">
                            <button>링크 복사</button>
                            <button>삭제</button>
                        </div>
                        <div class="myPage-content-left-playlist" th:each = "music : ${musics}" th:object="${music}">
                            <div class="myPage-content-left-playlist-img">

                                <img src="/images/main-1.png">

                            </div>
                            <div class="myPage-content-left-playlist-table">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td width="5%">1</td>
                                        <td width="20%">ArtistName</td>
                                        <td width="20%">SongName</td>
                                        <td width="15%">PlayTime</td>
                                        <td width="10%">
                                            <button>재생</button>
                                        </td>
                                        <td width="10%">
                                            <button>좋아요</button>
                                        </td>
                                        <td width="10%">
                                            <button>팔로우</button>
                                        </td>
                                        <td width="10%">
                                            <button>삭제</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="5%">1</td>
                                        <td width="20%">ArtistName</td>
                                        <td width="20%">SongName</td>
                                        <td width="15%">PlayTime</td>
                                        <td width="10%">
                                            <button>재생</button>
                                        </td>
                                        <td width="10%">
                                            <button>좋아요</button>
                                        </td>
                                        <td width="10%">
                                            <button>팔로우</button>
                                        </td>
                                        <td width="10%">
                                            <button>삭제</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="5%">1</td>
                                        <td width="20%">ArtistName</td>
                                        <td width="20%">SongName</td>
                                        <td width="15%">PlayTime</td>
                                        <td width="10%">
                                            <button>재생</button>
                                        </td>
                                        <td width="10%">
                                            <button>좋아요</button>
                                        </td>
                                        <td width="10%">
                                            <button>팔로우</button>
                                        </td>
                                        <td width="10%">
                                            <button>삭제</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="myPage-content-right">
                        <div class="myPage-content-right-top">
                            <table>
                                <thead>
                                <tr>
                                    <th><a th:href="|/followedList/${member.getNo()}|">Followers</a></th>
                                    <th><a th:href="|/followingList/${member.getNo()}|">Following</a></th>
                                </tr>
                                </thead>
                                <tbody>
                                <td th:text = "${follow.followed}"></td>
                                <td th:text = "${follow.following}"></td>
                                </tbody>
                            </table>
                        </div>
                        <div class="myPage-content-right-bottom">
                            <ul>
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                                <li>4</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</html>
