<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<link th:href="@{/css/myPageStyle.css}" rel="stylesheet"/>

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <div class="row mt-3 mb-5">
                <div class="myPage-top">
                    <div class="myPage-top-image">
                        <a href="/profile"><img th:src="|/profileImage/${member.getNo()}|"></a>
                    </div>
                    <div class="myPage-top-profile">
                        <span>NickName</span>
                        <button onclick="location.href='/ChangePwd'" th:if = "${session.loginUser.gradeNo} != 4 and ${session.loginUser.no} == ${member.getNo()}">비밀번호 변경</button>
                        <button onclick="" th:if = "${session.loginUser.gradeNo} != 4 and ${session.loginUser.no} != ${member.getNo()}">Follow</button>
                    </div>
                </div>
                <div class="mt-4 mb-4 myPage-nav">
                    <a th:href="@{'/myPage/Playlist/' + ${member.getNo()}}">Playlist</a>
                    <a th:href="@{'/myPage/Board/' + ${member.getNo()}}">글</a>
                    <a th:href="@{'/myPage/Reply/' + ${member.getNo()}}">댓글</a>
                    <span th:if="${session.loginUser.no} == ${member.getNo()}"><a href="/myPage/Like/1">좋아요</a></span>
                </div>
                <div class="myPage-content">
                    <div class="myPage-content-left">
                        <table id="datatablesSimple"  class="list-normal-table">
                            <thead>
                                <tr>
                                    <th>No</th>
<!--                                    <th>게시판이름</th>-->
                                    <th>내용</th>
                                    <th>작성날짜</th>
                                </tr>
                            </thead>
                            <div class="reply_list" th:each="reply : ${replyListOneMember}">
                                <tbody>
                                    <td class="Content" th:text="${reply.no}"></td>
<!--                                    <td class="Content" th:text="${게시판이름....}}"></td>-->
                                    <td><a class="Content"  th:text="${reply.content}"
                                       th:href="|/articles/${reply.articleNo}|"></a></td>
                                    <td class="Content" th:text="${reply.writeDate}"></td>
                                </tbody>
                            </div>
                        </table>
                    </div>
                </div>
                <div class="myPage-content-right">
                    <div class="myPage-content-right-top">
                        <table>
                            <thead>
                                <tr>
                                    <th>
    <!--                                        <a th:href="|/followedList/${member.getNo()}|">Followers</a>-->
                                    </th>
                                    <th>
    <!--                                        <a th:href="|/followingList/${member.getNo()}|">Following</a>-->
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
    <!--                                <td th:text = "${follow.followed}"></td>-->
    <!--                                <td th:text = "${follow.following}"></td>-->
                            </tbody>
                        </table>
                    </div>
                    <div class="myPage-content-right-bottom">
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
</html>

