<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/myPageStyle.css}" rel="stylesheet"/>
<link th:href="@{/css/myPagePlaylist.css}" rel="stylesheet"/>

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <div class="row mt-3 mb-5">
                <div class="myPage-top">
                    <div class="myPage-top-image">
                        <!--                        <a href="/profile"><img th:src="|/profileImage/${member.getNo()}|"></a>-->
                        <button style="border: none;outline: none; background-color: transparent;" onclick="openProfile()" th:if="${#authorization.expr('isAuthenticated()')} AND ${#authentication.principal.getMemberVo.getNo} == ${member.getNo()}">
                            <img th:src="|/profileImage/${member.getNo()}|"/>
                        </button>
                        <th:block th:if="${#authorization.expr('isAuthenticated()')} AND ${#authentication.principal.getMemberVo.getNo} != ${member.getNo()}">
                            <img th:src="|/profileImage/${member.getNo()}|"/>
                        </th:block>
                        <th:block th:if="${!#authorization.expr('isAuthenticated()')}">
                            <img th:src="|/profileImage/${member.getNo()}|"/>
                        </th:block>
                        <div id="profileModalHolder"></div>
                    </div>
                    <div class="myPage-top-profile">

                        <span th:text="${member.getNickname()}"></span>

                        <th:block th:if="${#authorization.expr('isAuthenticated()')}">
                            <button onclick="location.href='/ChangePwd'"
                                    th:if="${#authentication.principal.getMemberVo.getNo} == ${member.getNo()}">비밀번호 변경
                            </button>
                            <div id="ezy">
                                <button th:onclick="'follow(' + ${member.getNo()} + ',' + ${#authentication.principal.getMemberVo.getNo} +')'"
                                        th:if="${#authentication.principal.getMemberVo.getNo} != ${member.getNo()} AND ${checkFollow} == 0">
                                    Follow
                                </button>
                                <button th:onclick="'cancel(' + ${member.getNo()} + ',' + ${#authentication.principal.getMemberVo.getNo} +')'"
                                        th:if="${#authentication.principal.getMemberVo.getNo} != ${member.getNo()} AND ${checkFollow} == 1">
                                    Cancel
                                </button>
                            </div>

                        </th:block>

                    </div>
                </div>
                <div class="mt-4 mb-4 myPage-nav">
                    <a th:href="@{'/myPage/Playlist/' + ${member.getNo()}}">Playlist</a>
                    <a th:href="@{'/myPage/Board/' + ${member.getNo()}}">글</a>
                    <a th:href="@{'/myPage/Reply/' + ${member.getNo()}}">댓글</a>
                    <th:block th:if="${#authorization.expr('isAuthenticated()')}">
                    <span th:if="${#authentication.principal.getMemberVo.getNo} == ${member.getNo()}">
                        <a th:href="@{'/myPage/Like/' + ${member.getNo()}}">추천한 게시글</a>
                    </span>
                    </th:block>
                </div>

                <div class="myPage-btn-style" th:if="${#authorization.expr('isAuthenticated()')} AND ${#authentication.principal.getMemberVo.getNo} == ${member.getNo()}">
                    <form class="me-3" method="get" th:action="|/addPlaylistForm/${member.getNo()}|">
                        <button type="submit">추가</button>
                    </form>
                    <form
                            th:action="|/deleteplaylist/*{memberNo}/*{id}|"
                            method="POST">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <button id="class">삭제</button>
                    </form>

                </div>
                </th:block>
            </div>


                <div class="myPage-content">
                    <div class="myPage-content-left" th:each="playlist : ${playlists}" th:object="${playlist}">
                        <div class="myPage-content-left-playlist">
                            <div class="myPage-content-left-playlist-img">
                                <a th:href="|/myPage/Playlist/${member.getNo()}/*{id}|">
                                    <img th:src="*{links[0].href}">
                                </a>
                            </div>
                            <input type="hidden" id="id_no" th:value="*{id}">
                            <div class="myPage-content-left-playlist-table">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>ArtistName</td>
                                        <td>SongName</td>
                                        <td>PlayTime</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>ArtistName</td>
                                        <td>SongName</td>
                                        <td>PlayTime</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>ArtistName</td>
                                        <td>SongName</td>
                                        <td>PlayTime</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="myPage-content-left-playlist-btn">
                                    <button>전체 재생</button>
                                    <form th:action="|/changePlaylistForm/*{id}|" method="get">
                                        <button type="submit">편집...</button>
                                    </form>
                                    <form th:action="|/deleteplaylist/*{memberNo}/*{id}|" method="POST">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button class="delete-Btn">삭제</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="myPage-content-right">
                    <div class="myPage-content-right-top">
                        <table>
                            <thead>
                            <tr>
                                <th><a th:href="|/followedList/${member.getNo()}|">Followers</a></th>
                                <th><a th:href="|/followingList/${member.getNo()}|">Following</a></th>
                            </tr>
                            </thead>
                            <tbody>
                            <td th:text="${follow.followed}"></td>
                            <td th:text="${follow.following}"></td>
                            </tbody>
                        </table>
                    </div>
                    <div class="myPage-content-right-bottom">
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                        </ul>
                    </div>
                </div>
            </div>
    </main>
        </div>
</div>
</div>
</div>
</main>
</div>

</html>
<script th:src="@{../js/jquery-3.6.0.min.js}"></script>
<script th:inline="javascript">
    $(function () {
        $.ajax({
            url: "/profile",
            success: function (data) {
                $("#profileModalHolder").html(data);
            },
        });
    });

    function openProfile() {
        $.ajax({
            url: "/profile",
            success: function (data) {
                $("#modal-profile").modal("show");
            },
        });
    }

    function follow(opponent, my) {
        $.ajax({
            url: "/follow",
            method: "POST",
            dataType: "json",
            data: {
                opponent: opponent,
                my: my
            },
            success: function (data) {
                console.log(data.checkFollow);
                console.log(data.opponent);
                console.log(data.my);

                a = '';
                //$("#ezy button").remove();
                a += '<button onclick="cancel(' + data.opponent + ',' + data.my + ')" >Cancel</button>';
                $('#ezy').html(a);
            },
            error: function (err) {
                console.trace(err);
            }
        });
    }

    function cancel(opponent, my) {
        $.ajax({
            url: "/followCancel",
            method: "POST",
            dataType: "json",
            data: {
                opponent: opponent,
                my: my
            },
            success: function (data) {
                console.log(data.checkFollow);
                console.log(data.opponent);
                console.log(data.my);

                a = '';
                //$("#ezy button").remove();
                a += '<button onclick="follow(' + data.opponent + ',' + data.my + ')" >Follow</button>';
                $('#ezy').html(a);
            },
            error: function (err) {
                console.trace(err);
            }
        });
    }
</script>
