<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">

<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<link th:href="@{../css/homeContentsStyle.css}" rel="stylesheet"/>

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">

            <div class="row mt-3 mb-5">

                <div class="content-top">
                    <div class="content-top-left">
                        <!-- Swiper -->
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="https://swiperjs.com/demos/images/nature-1.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="https://swiperjs.com/demos/images/nature-2.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="https://swiperjs.com/demos/images/nature-3.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="https://swiperjs.com/demos/images/nature-4.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="https://swiperjs.com/demos/images/nature-5.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="https://swiperjs.com/demos/images/nature-6.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="https://swiperjs.com/demos/images/nature-7.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="https://swiperjs.com/demos/images/nature-8.jpg"/>
                                </div>
                                <div class="swiper-slide">
                                    <img src="https://swiperjs.com/demos/images/nature-9.jpg"/>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <div class="content-top-right">
                        <div class="content-top-right-title">
                            <span>Top 10 베스트 글</span>
                        </div>
                        <div class="content-top-right-table">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><img src="https://swiperjs.com/demos/images/nature-1.jpg"></td>
                                        <td>1</td>
                                        <td>Name</td>
                                    </tr>
                                    <tr>
                                        <td><img src="https://swiperjs.com/demos/images/nature-1.jpg"></td>
                                        <td>2</td>
                                        <td>Name</td>
                                    </tr>
                                    <tr>
                                        <td><img src="https://swiperjs.com/demos/images/nature-1.jpg"></td>
                                        <td>3</td>
                                        <td>Name</td>
                                    </tr>
                                    <tr>
                                        <td><img src="https://swiperjs.com/demos/images/nature-1.jpg"></td>
                                        <td>4</td>
                                        <td>Name</td>
                                    </tr>
                                    <tr>
                                        <td><img src="https://swiperjs.com/demos/images/nature-1.jpg"></td>
                                        <td>5</td>
                                        <td>Name</td>
                                    </tr>
                                    <tr>
                                        <td><img src="https://swiperjs.com/demos/images/nature-1.jpg"></td>
                                        <td>6</td>
                                        <td>Name</td>
                                    </tr>
                                    <tr>
                                        <td><img src="https://swiperjs.com/demos/images/nature-1.jpg"></td>
                                        <td>7</td>
                                        <td>Name</td>
                                    </tr>
                                    <tr>
                                        <td><img src="https://swiperjs.com/demos/images/nature-1.jpg"></td>
                                        <td>8</td>
                                        <td>Name</td>
                                    </tr>
                                    <tr>
                                        <td><img src="https://swiperjs.com/demos/images/nature-1.jpg"></td>
                                        <td>9</td>
                                        <td>Name</td>
                                    </tr>
                                    <tr>
                                        <td><img src="https://swiperjs.com/demos/images/nature-1.jpg"></td>
                                        <td>10</td>
                                        <td>Name</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i><span> 전체 글 보기</span>
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>날짜</th>
                            <th>조회수</th>
                            <th>좋아요</th>
                        </tr>
                        </thead>

                        <tfoot>
                        <tr>
                            <th>No</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>날짜</th>
                            <th>조회수</th>
                            <th>좋아요</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="articleVO : ${articleList}">
                            <td th:text="${articleVO.no}"></td>
                            <td>
                                <a th:text="${articleVO.subject}"
                                   th:href="|/detailArticle/${articleVO.no}|"></a>
                            </td>
                            <td th:text="${articleVO.nickname}"></td>
                            <td th:text="${articleVO.writeDate}"></td>
                            <td th:text="${articleVO.viewcount}"></td>
                            <td th:text="${articleVO.likecount}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
            rotate: 50,
            stretch: 0,
            depth: 100,
            modifier: 1,
            slideShadows: true,
        },
        pagination: {
            el: ".swiper-pagination",
        },
    });
</script>
</html>
