.detail-audio-style{
    width: 100%;

}

.detail-audio-part-style{
    border: 1px solid #666666;
    width: 50%;
    display: flex;
    align-items: center;
    height: 100px;
    margin: 20px;
    padding: 10px;
}

.detail-audio-part-style img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.detail-audioDiv-style{
    height: 100%;
    width: 100%;
}

.detail-audioInfo-style{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    height: 30%;


}

.audioTitle{
    width: 70%;
}

.detail-audioInfo-style .audioPlayBtn {
    border: none;
    background-color: transparent;
    padding: 0;
    width: 20%;
    
}

.detail-audioInfo-style .audioDelBtn{
    padding: 0;
    width: 10%;
}

.detail-audioInfo-style button span{
    display: inline-block;
        width: 100%;
        height: 100%;
        padding-top: 2px;
}

.detail-audioInfo-style button:hover {
    cursor: pointer;

}

.detail-audioDiv-style audio{
    
}

.detail-audioControls-style{
    height: 70%;
    width: 100%;
}
