@charset "utf-8";

.category-board-style a{
	margin-left: 20px;
	text-decoration: none;
	color: #eeeeee;
}

.category-board-style span{
	display: inline-block;
	margin-left: 20px;
}

.category-board-style a{
	margin-left:5px;
}

.category-board-style a:hover{
	color: #ff0080;
}


.login-user-box{

	margin: 0 auto;
}

.scrollable-ul {
	overflow-y: auto;
	height: 100px;
	
	background-color: #fff;
	border: 2px solid red;
}
.scrollable-ul li{
	color: #666;
	width: 150px;
}
