@charset "utf-8";

:root{
	--main-img-size:500px;
}
.content-img{
	width: 100%;
	
}
.content-img .content-img-a {
	width: var(--main-img-size);
	height: var(--main-img-size);
	
	
}

.content-img .content-img-img {
	width: var(--main-img-size);
	height: var(--main-img-size);
	border: 1px solid #666;
	margin: 10px;
}
.content-img-table{
	text-align: center;
	
	margin: auto;
	
}

.icon-gray{
	color: rgba(255, 255, 255, 0.5);
}