@charset "UTF-8";

/* ---------------------공통---------------------  */

.myPage-top{
    display: flex;
    background-image: url( "/images/banner-img.jpg" );
    height: 200px;
    align-items: center;

}
.myPage-top-image{
    display: flex;
    justify-content: center;
    width: 20%;
    vertical-align: center;
}
.myPage-top-image img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.myPage-top-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.myPage-top-profile span{
    margin-bottom: 10px;
}

.myPage-nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #666666;
}
.myPage-nav a{
    margin-right: 40px;
    text-decoration: none;
    color: #1c1f23;
}

.myPage-nav a:hover{
    color: #0a53be;
    text-decoration: underline;
    text-underline-position: under;
}

.myPage-content{
    width: 100%;
    height: 100%;
    display: flex;
}

.myPage-content-left{
    width: 100%;
}

.myPage-content-right{
    width: 15%;
    padding-left: 20px;
    border-left: 1px solid #666666;
}

.myPage-content-right-top{
    margin-bottom: 20px;

}
.myPage-content-right-top table{
    border: 1px solid #666666;
    vertical-align: center;
    text-align: center;
}

.myPage-content-right-top table th:first-child,
.myPage-content-right-top table td:first-child{
    border-right:1px solid #666666;
}

.myPage-content-right-top table th,
.myPage-content-right-top table td{
    padding: 10px 10px 5px 10px;
}

.myPage-content-right-bottom{
    height: 100%;

}
.myPage-content-right-bottom li{
    list-style: none;
}

/* ---------------------공통---------------------  */

.myPage-content-style{
    display: flex;
}
