<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<link th:href="@{../css/memberListStyle.css}" rel="stylesheet" />

<div th:if="${flag} == 0">Following</div>
<div th:if="${flag} == 1">Followed</div>

<!-- 내가 팔로우를 하고 있는 회원 목록 -->
<div th:each="following : ${followingList}" th:if="${flag} == 0">
    <div>
        <img th:src="|/profileImage/${following.no}|" height="200" width="200">
        <br/>
        <p th:text="${following.nickname}" />
    </div>
</div>

<!-- 나를 팔로우하는 회원 목록 -->
<div th:each="followed : ${followedList}" th:if="${flag} == 1">
    <div>
        <img th:src="|/profileImage/${followed.no}|" height="200" width="200">
        <br/>
        <p th:text="${followed.nickname}" />
    </div>
</div>
</html>