<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Register - SB Admin</title>
    <link href="css/theme_styles.css" rel="stylesheet"/>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>
</head>
<body class="bg-primary">
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header">
                                <h3 class="text-center font-weight-light my-4">Create
                                    Account</h3>
                            </div>
                            <div class="card-body">
                                <form id="join-form"
                                      method="POST" th:action="@{/join}" th:object="${form}"
                                      onsubmit="return confirm('회원가입 하시겠습니까?')">

                                    <div class="form-floating mb-3">
                                        <input class="form-control" id="inputEmail" type="email"
                                               th:field="*{email}" placeholder="name@example.com" required="required"/>
                                        <label for="inputEmail">Email
                                            address</label>
                                        <!-- th:field="${member.email}" 설명 : 사용자가 view에서 입력한 내용을 member라는 빈칸 종이 양식에서 email 항목에 쓰겠다. -->

                                    </div>
                                    <p id="email-access" ></p>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input class="form-control" id="inputPassword"
                                                       type="password" th:field="*{password}"
                                                       placeholder="Create a password" required="required"/> <label
                                                    for="inputPassword">Password</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating mb-3 mb-md-0">
                                                <input class="form-control" id="inputPasswordConfirm"
                                                       type="password" placeholder="Confirm password"
                                                       th:field="*{confirmPassword}" required="required"/> <label
                                                    for="inputPasswordConfirm">Confirm Password</label>
                                            </div>
                                        </div>

                                    </div>
                                    <p id="password-access"></p>
                                    <div class="form-floating mt-3 ">
                                        <input class="form-control" id="inputFirstName" type="text"
                                               th:field="*{nickname}" placeholder="Enter your first name"
                                               required="required"/> <label
                                            for="inputFirstName">nickname</label>
                                    </div>
                                    <p id="nickname-access"></p>
                                    <div class="mt-4 mb-0">
                                        <div class="d-grid">
                                            <button type="button" class="btn btn-primary btn-block"
                                                    id="join_btn">Create
                                                Account
                                            </button>

                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer text-center py-3">
                                <div class="small">
                                    <a href="/musicatlogin">Have an account? Go to login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

</div>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script>
    $(document).ready(function () {
        let emailCheck = false;
        let passwordCheck = false;
        let nicknameCheck = false;

        $('#inputEmail').blur(function (){
            var email = $('#inputEmail').val();
            $.ajax({
                url: '/joinCheck',
                method: 'POST',
                dataType: 'json',
                data: {
                    type: 'email',
                    value: email
                },
                success: function (data) {
                    if (data == 1) {
                        var htmlStr = '중복된 이메일 입니다.';
                        $('#email-access').html(htmlStr);
                        return false;
                    } else if (data == 0) {
                        $('#email-access').html("");
                        emailCheck = true;
                        return true;
                    }
                },
                error: function (e) {
                    reject(e);
                }
            });
        });



        // password 창에서 Tab key가 눌렸을 떄
        $("#inputPassword").blur(function () {
            // if(e.keyCode === 9){
            var pw = $('#inputPassword').val();
            var num = pw.search(/[0-9]/g);
            var eng = pw.search(/[a-z]/ig);
            var spe = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);

            if (pw.length < 8) {
                var htmlStr = '비밀번호는 최소 8글자 이상 입력해주세요';
                $('#password-access').html(htmlStr);
                passwordCheck = false;
                return false;
            } else if (pw.search(/\s/) != -1) {
                var htmlStr = '비밀번호는 공백 없이 입력해주세요.';
                $('#password-access').html(htmlStr);
                passwordCheck = false;
                return false;
            } else if (num < 0 || eng < 0 || spe < 0) {
                var htmlStr = '대소문자, 숫자, 특수문자를 혼합하여 입력해주세요.';
                $('#password-access').html(htmlStr);
                passwordCheck = false;
                return false;
            } else {
                console.log('통과');
                $('#password-access').html("");
                passwordCheck = true;
                return true;
            }
        });

        // 비밀번호 확인 체크
        $('#inputPasswordConfirm').blur(function () {
            var pw = $('#inputPassword').val();
            var cpw = $('#inputPasswordConfirm').val();
            if (!(pw === cpw)) {
                var htmlStr = '비밀번호가 일치하지 않습니다.';
                $('#password-access').html(htmlStr);
                passwordCheck = false;
                return false;
            }
            $('#password-access').html("");
            passwordCheck = true;
            return true;
        });


        //닉네임 검증
        // nickname 검증(중복 <- server)
        // 특수문자 불가능, 글자 제한 4 ~ 8 글자, 금지 단어 체크
        const blockwords = ['바보', '멍청이', '욕설', '욕'];

        $('#inputFirstName').blur(function () {
            var nick = $('#inputFirstName').val();
            var spe = nick.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);
            if (nick.length < 4 || nick.length > 8) {
                var htmlStr = '닉네임은 4 ~ 8글자 사이로 입력할 수 있습니다.';
                $('#nickname-access').html(htmlStr);
                nicknameCheck = false;
                return false;
            } else if (spe > 0) {
                var htmlStr = '닉네임에 특수문자는 입력할 수 없습니다.';
                $('#nickname-access').html(htmlStr);
                nicknameCheck = false;
                return false;
            } else if (nick.search(/\s/) != -1) {
                var htmlStr = '닉네임에는 공백을 입력할 수 없습니다.';
                $('#nickname-access').html(htmlStr);
                nicknameCheck = false;
                return false;
            }
            //닉네임 금칙어 체크
            var word;
            for (let i = 0; i < blockwords.length; i++) {
                if (nick.match(blockwords[i]) != null) {
                    word = nick.match(blockwords[i]);
                    var htmlStr = '닉네임에 ' + word + '는 사용이 금지되었습니다.';
                    $('#nickname-access').html(htmlStr);
                    return false;
                    nicknameCheck = false;
                }
            }
            $.ajax({
                url: '/joinCheck',
                method: 'POST',
                dataType: 'json',
                data: {
                    type: 'nickname',
                    value: nick
                },
                success: function (data) {
                    if (data == 1) {
                        var htmlStr = '중복된 닉네임 입니다.';
                        $('#nickname-access').html(htmlStr);
                        return false;
                    } else if (data == 0) {
                        $('#nickname-access').html("");
                        nicknameCheck = true;
                        return true;
                    }
                },
                error: function (e) {
                    reject(e);
                }
            });
        });


        $('#join_btn').on('click', function () {

            if (passwordCheck == false) {
                alert('비밀번호를 확인하세요.');
                return false;
            } else if (nicknameCheck == false) {
                alert('닉네임을 확인하세요.');
                return false;
            } else if (emailCheck == false) {
                alert('이메일을 확인하세요.');
                return false;
            }
            if (passwordCheck && nicknameCheck && emailCheck) {
                $('#join-form').submit();
            }
        });
    });

</script>
</body>
<style>
    #email-access {
        color: red;
    }
    #password-access {
        color: red;
    }
    #nickname-access {
        color: red;
    }
</style>
</html>
