<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Login - SB Admin</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="col-6">
        <h1>[[${room.name}]]</h1>
    </div>
    <div class = "forID" th:id = "${username}"></div>
    <div>
        <div id="msgArea" class="col"></div>
        <div class="col-6">
            <div class="input-group mb-3">
                <input type="text" id="msg" class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:inline="javascript">
    $(document).ready(function(){
        var roomName = [[${room.name}]];
        var roomId = [[${room.roomId}]];
        var username = $('.forID').attr('id');

        console.log(roomName + ", " + roomId + ", " + username);

        var sockJs = new SockJS("/stomp/chat");
        var stomp = Stomp.over(sockJs);

        stomp.connect({}, function(){
             console.log("STOMP Connection");

             stomp.subscribe("/sub/chat/room/" + roomId, function(chat) {
                var content = JSON.parse(chat.body);
                var writer = content.writer;
                var message = content.message;
                var str = "";

                if(writer === username) {
                    str = "<div class = 'col-6'>";
                    str += "<div class = 'alert alert-secondary'>";
                    str += "<b>" + content.writer + " : " + message + "</b>";
                    str += "</div></div>";
                    //$("#msgArea").append(str);
                }
                else {
                    str = "<div class = 'col-6'>";
                    str += "<div class = 'alert alert-warning'>";
                    str += "<b>" + writer + " : " + message + "</b>";
                    str += "</div></div>";
                    //$("#msgArea").append(str);
                }

                $("#msgArea").append(str);
            });

            stomp.send('/pub/chat/enter', {}, JSON.stringify({roomId: roomId, writer: username}));
        });
        $("#button-send").on("click", function(e){
            var msg = document.getElementById("msg");

            console.log(username + ":" + msg.value);
            stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, message : msg.value,
            writer: username}));
            msg.value = '';
        });
    });
</script>
</body>
</html>
